#countLabel {
    display: block;
    text-align: center;
    font-size: 150px;
    padding-top: 75px;
}

#increaseButton {
    display: block;
    font-size: 50px;
    width: 150px;
    margin:auto;
}
#title {
display: block;
font-size: 70px;
text-align: center;
}
#msg {
    display:block;
    margin-top: 150px;
    text-align: center;
}